<ion-header>
  <ion-navbar>
    <ion-title>login-page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <div class="ion-card">
    <section id="section-header">
      <img src='/assets/imgs/logo1.png'>
    </section>

    <section id="section-text">
      <span style="color:lightgray;">
        <h6>WELCOME TO</h6>
      </span>
      <span>
        <h2 style="color: lightgoldenrodyellow;">DadiCOLLECTION</h2>
      </span>
    </section>
  </div>

  <div class="container">
    <div class="center">
      <h3 style="color:whitesmoke;">LOG IN</h3>
    </div>

    <div class="margin-center">
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <input type="text" [ngClass]="displayFieldCss('username')" formControlName="username" class="form-control"
            placeholder="Username" id="text-field">
          <section *ngIf="isFieldValid('username')">
            <small class="alert alert-danger"><strong>Username is required</strong></small>
          </section>
        </div>

        <div class="form-group">
          <input type="password" [ngClass]="displayFieldCss('password')" formControlName="password" class="form-control"
            placeholder="Password" id="text-field">
          <section *ngIf="isFieldValid('password')">
            <small class="alert alert-danger"><strong>Password is required</strong></small>
          </section>
        </div>

        <div class="form-group">
          <button class="button-field" color="light">Submit</button>
        </div>

        <div class="container-fluid" id="div-footer">
          <h6>OR</h6>
        </div>

        <div class="container-fluid" id="signupCss">
          <a href="JavaScript: void(0);" (click)="signUp()">
            <h5 style="color: azure;">Forgot your Password ?</h5>
          </a>
        </div>
      </form>
      <div class="container-fluid" style="display:none;" id="success">
        <label class="alert alert-success"><strong class="margin-center">Login Success!!</strong></label>
      </div>
    </div>
  </div>
</ion-content>