

<ion-content padding class="background">

  <div>
    <div class="section-header">
      <img src='/assets/imgs/logo1.png' class="logo">
    </div>

    <div class="section-text">
      <div>
        <h6>WELCOME TO</h6>
      </div>
      <div>
        <h2><span>Dadi</span>COLLECTION</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h3>LOG IN</h3>
    </div>

    <div>
      <form class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <div>
            <input type="text" [ngClass]="displayFieldCss('username')" formControlName="username" class="text-field"
          placeholder="Username" >
          </div>
          <div *ngIf="isFieldValid('username')" class="error-msg">Username is required</div>
         
        </div>

        <div class="form-group">
          <input type="password" [ngClass]="displayFieldCss('password')" formControlName="password" class="text-field"
            placeholder="Password">
          <div *ngIf="isFieldValid('password')" class="error-msg">Password is required</div>
        </div>

        <div class="form-group">
          <button class="button-field" color="light">Submit</button>
        </div>

        <div>
          <a href="JavaScript: void(0);" (click)="clickPassword()">
            <h5 style="color: azure;">Forgot your Password ?</h5>
          </a>
        </div>

        <div >
          <h6>OR</h6>
        </div>

        <div>
            <h5 style="color: azure;">Have an Account ? Then</h5>
            <a href="JavaScript: void(0);" (click)="signUp()" id="Register">
              Register here.
            </a>
        </div>
      </form>
      <div class="container-fluid" style="display:none;" id="success">
        <label class="alert alert-success"><strong class="margin-center">Login Success!!</strong></label>
      </div>
    </div>
  </div>

  <!-- <div>
    <button (click)="loginButton()"></button>
  </div> -->
</ion-content>