* {
    font-family: "gilroy-light";
}

.fa {
    font-family: "FontAwesome";
}
.banner-icon{  
    background-image: url('/assets/imgs/banner.png');
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: contain;
}
.navcolor            
{
    background-color: #413f3f;
    h1{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
    }
}