
.body-Css{  
    background-repeat: no-repeat;
    background-size: contain;
    background-color:#010000;
}






.checkout-button{
    height: 50px;
    width: 300px;
    border-radius: 35px;
    background-color: #ecb10dee;
}
.gap5{
    height: 8px;
}
.gap6{
    height: 18px;
}
.hr
{
    padding-right: 8px;
    border-bottom: 1px solid #817f7f;
}

.cart-Css
{
    .item-md 
    {
        height: 100px;
        background-color:#535353;
        padding-left: 3px;
    }
 

}
// ion-avatar

.item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 25%;
   
    width: 99px;
    height: 100px;
    padding-top: 3px;
}

    .cart-footer
    {
        height: 145px;
        background-color: #535353;
        text-align: center;
        border-radius: 7px;
    }
    .price-block
    {
        color: #ecb10dee;
        font-size:22px;
        text-align: center;
    }
    .item-ios {
         padding-left: 0px;
        padding-left: 0px;
        background-color:#535353;
    }
    .product-price
    {
        color: #ffbe0bf3;
    }

    ion-app.ios [padding] .scroll-content {
        padding: 6px;
    }
    item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
        margin: 0px 0px 0px 0;
    }