* {
    font-family: "gilroy-light";
}

.fa {
    font-family: "FontAwesome";
}
.banner-icon{  
    background-repeat: no-repeat;
<<<<<<< HEAD
    height: -webkit-fill-available;
    background-size: contain;
}
.navcolor            
{
=======
    background-size: cover;
    background-color: #000000;
}
.nav-color{
>>>>>>> f6b0520c5e8e438fbd62c123def491bb32382cd0
    background-color: #413f3f;
    h1{
        text-align: center;
        color: #ffffff;
<<<<<<< HEAD
        font-size: 20px;
    }
=======
        font-size: 22px;
    }
}
.middle-icon{
        color: #ebe9ea;
        background-color: #dda406;
        padding: 5px 5px 10px 10px;
        border-radius: 35px;
        font-size: 14px;

}
.logo-banner{
    padding: 5px 5px 10px 10px;
}
.logo-field{
    // background-image: url('/assets/imgs/b1.png');
    // background-repeat: no-repeat;
    width: 100px;
}
h3{
    background-color: #615f5f;
    padding: 5px 5px 10px 10px;
    color: #ebe9ea;
    font-size: 18px;
>>>>>>> f6b0520c5e8e438fbd62c123def491bb32382cd0
}