.section-header{
  text-align:center;
  margin: 0 auto;
}

.logo
{
  height: 240px;
  width: 240px;
}
.section-text{
  text-align:center;
}

.center{
  text-align:center;
}

.margin-center
{
  width:300px;
  margin-right:auto;
  margin-left:auto;
}

.text{
  bottom: -10px;
}

.form
{

  width: 300px;
  padding: 20px;

}

#text-field{
  bottom: -30px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  border-radius: 35px;
  font-size: 15px;
  background: rgb(67, 68, 68);
  border-color: rgb(67, 68, 68);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke !important;
  opacity: 1; /* Firefox */
}

.button-field{

  height: 50px;
  width: 260px;
  border-radius: 35px;
}

#div-footer{
  color: whitesmoke;
  text-align: center;
}

#signupCss
{
  position: relative;
  bottom: -60px;
  text-align: center;
  color: whitesmoke;
}
