<ion-content padding class="background">

  <div>
    <div class="section-header">
      <img src='/assets/imgs/logo1.png' class="logo">
    </div>

    <div class="section-text">
      <div>
        <h6>WELCOME TO</h6>
      </div>
      <div>
        <h2><span>Dadi</span>COLLECTION</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div>
      <h3>SIGN UP</h3>
    </div>

   
    <div>
      <form class="form"  [formGroup]="form" (ngSubmit)="onLoggedin()">

        <div class="form-group">
          <div>
            <input type="text" [ngClass]="displayFieldCss('name')" formControlName="name" class="text-field"
          placeholder="Name" >
          </div>
          <div *ngIf="isFieldValid('name')" class="error-msg">Name is required</div>
         
        </div>

        <div class="form-group">
          <input type="text" [ngClass]="displayFieldCss('email')" formControlName="email" class="text-field"
            placeholder="Email">
          <div *ngIf="isFieldValid('email')" class="error-msg">Email is required</div>
        </div>
        
        <div class="form-group">
          <input type="text" [ngClass]="displayFieldCss(' phonenumber')" formControlName=" phonenumber" class="text-field"
            placeholder="Phone  phonenumber">
          <div *ngIf="isFieldValid(' phonenumber')" class="error-msg">Phone is required</div>
        </div>
       
        <div class="form-group">
          <input type="password" [ngClass]="displayFieldCss('password')" formControlName="password" class="text-field"
            placeholder="Password">
          <div *ngIf="isFieldValid('password')" class="error-msg">Password is required</div>
        </div>

        <div class="form-group">
          <button class="button-field" color="light">Submit</button>
        </div>
      </form>
      <div class="container-fluid" style="display:none;" id="success">
        <label class="alert alert-success"><strong class="margin-center">Register Success!!</strong></label>
      </div>
    </div>
  </div>
</ion-content>